---
name: Run tests
on: [push, pull_request]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1'

      - name: Install dependencies
        run: go mod vendor

      - name: Run tests
        run: go test ./...
